
{% extends 'base.html' %}

{% block body %}
    




    <div class="container my-4">
        <form action="/" method="POST">
            <h2>Write your Title and the Description for the same</h2>
            <div class="mb-3">
                <label for="title" class="form-label">TITLE</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Don't forget your Title :)</div>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm mx-2">Submit</button>
        </form>
    </div>

    <div class="container my-4">
        <h2>Displaying the results</h2>
        
                {% if allTodo|length==0 %}
                        no record
                   
                        {% else %}
                        <table class="table">
            <thead>
                <tr>
                    <th scope="col">sno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>

                </tr>
            </thead>
            <tbody>
                    
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_created}}</td>
                    <td>
                        <a href="/update/{{ todo.sno }}" class="btn btn-outline-primary btn-sm mx-2">Update</a>
                        <a href="/delete/{{ todo.sno }}" class="btn btn-outline-danger btn-sm mx-2">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
               


           
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>


{% endblock body %}